<h1 >Add A New Post</h1>
<%= form_with model: @food, url: foods_path, method: :post, local: true, scope: :new_food do |form| %>
  <div >
    <div >
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <div >
      <%= form.label :measuerment_unit %><br>
      <%= form.number_field :measuerment_unit %>
    </div>

    <div >
      <%= form.label :price %><br>
      <%= form.number_field :price %>
    </div>

    <div >
      <%= form.label :quantity %><br>
      <%= form.number_field :quantity %>
    </div>
    <%= form.submit "Click to Add Food" %>
  </div>
<% end %>